body{
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo{
    width: 150px;
    height: 150px;
    margin: auto;
}

#header{
    height: 300px;
}

input{
    width: 400px;
    height: 30px;
    margin-right: 20px;
    background-color: burlywood;
    border: black 2px solid;
    border-radius: 4px;
}

.navigationElement{
    margin: 30px;
    width: 75px;
    height: 35px;
    background-color: burlywood;
    padding: 0px;
    border: black 2px solid;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

button{
    height: 35px;
    width: 80px;
    background-color: burlywood;
    border: black 2px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#searchBar{
    padding-top: 20px;
    float: right;
    margin-right: 30px;
}

#navigationElements{
    display: inline;
    float: left;
    font-weight: bolder;
}

#navigationBar{
    height: 40px;
}

.productDisplayRow{
    margin-top: 50px;
}

.productDisplay{
    display: inline-block;
    height: auto;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: burlywood;
    padding-top: 20px;
}

.imageDisplay{
    max-width: 250px;
}

.formatDisplay{
    height: 25px;
    width: 275px;
    font-style: oblique;
}

.authorDisplay{
    height: 50px;
    width: 275px;
}

.genreDisplay{
    height: 25px;
    width: 275px;
    font-style: oblique;
}

.titleDisplay{
    height: 50px;
    width: 275px;
}

#productInfo{
    float: left;
    border: black 4px solid;
    padding: 20px;
    border-radius: 3px;
    margin-right: 100px;
    margin-left: 150px;
}

#comparisonInfo{
    border: black 4px solid;
    padding: 5px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

#productComparison{
    margin-left: 50px;
    margin-bottom: 50px;
}

#productInfoImage{
    width: 250px;
    height: 250px;
}

.websiteInfo{
    margin: 30px;
    text-decoration: none;
}

.priceInfo{
    margin: 30px;
    color: slategrey;
}

.formatInfo{
    margin: 30px;
}

.isbnInfo{
    margin: 30px;
    color: slategrey;
}

.providerInfo{
    margin-bottom: 50px;
    border: brown 3px solid;
    padding: 15px;
}